/* importing fonts from google font */
@import url('https://fonts.googleapis.com/css?family=Sofia');

/* styling the content box (middle of the page) */

#content-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 40px 40px;
    width: 60vw;
    max-width: 1000px;
    flex-shrink: 1;
    background-color: #000000CC;
    color: #fff;
    border-radius: 10px;
    animation: fade-in 0.85s;
    position: relative;
    box-shadow: 0 0 80px 20px #000;
    transition: background-color 0.85s;
}

/*
color of title 
*/
#title {
    color: white;
}

/* changing the color of content box on mouse hover */
#content-box:hover {
    background-color: #000000c5;
}

/*
styling first page , name ,episode and release date
*/

.movie {
    color: #6495ed;
    min-height: 50px;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0px;
    padding-left: 300px;
}

/*
showing item such as keyand value using row flex
*/

.movie .item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
}

/*
styling name , episods and release date
*/

.movie .key {
    color: #64daed;
    font-size: 50px;
    font: italic small-caps bold 18px/30px Georgia, serif;
    text-transform: none;
}

/*
styling value of name , episods and release date
*/


.movie .value {
    font-weight: 700;
    font-size: 50px;
    text-transform: capitalize;
    font: italic small-caps bold 18px/30px Georgia, serif;
    margin-right: 10px;
}

/*
styling starships key
*/

.default-button {
    box-shadow: inset 0 34px 0 -15px #ff51a9;
    background-color: #ff1e90;
    border: 1px solid #241d13;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    text-decoration: none;
    border-radius: 20px;
    text-shadow: 0 -1px 0 #ff389d;
    margin: 1% 150%;
}

/*
styling senond page that includes name of starships
*/

#content-box-item:hover {
    background-color: #000000c5;
}

/*
styling senond page that includes name of starships
*/

#content-box-item {
    display: "flex";
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 40px;
    width: 60vw;
    max-width: 1000px;
    flex-shrink: 1;
    background-color: #000000CC;
    color: #fff;
    border-radius: 10px;
    animation: fade-in 0.85s;
    position: relative;
    box-shadow: 0 0 80px 20px #000;
    transition: background-color 0.85s;
    margin-top: 10%;
}

/*
styling senond page that includes two list of name and starship 's information
*/

.movie-item {
    color: #6495ed;
    min-height: 50px;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0px;
    padding-left: 5%;
}

/*
styling senond page that includes two list of name and starship 's information
*/


.item1 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 10%;
    width: 100%;
}

/*
styling name of starships of each episode
*/



.movie-item .key-item {

    color: #64daed;
    font-size: 50px;
    font: italic small-caps bold 16px/20px Georgia, serif;
    text-transform: none;

}

/*
styling information of selected starships 
*/

.movie-item .value-item {
    font-weight: 700;
    font-size: 50px;
    text-transform: capitalize;
    font: italic small-caps bold 16px/30px Georgia, serif;
    margin-right: 10px;
}

/*
stilyng back to movie button
*/

#button {
    box-shadow: inset 0 34px 0 -15px #ff51a9;
    background-color: #ff1e90;
    border: 1px solid #241d13;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
    text-shadow: 0 -1px 0 #ff389d;
    margin-top: 10%;
}